body {
    margin: 0;
    padding: 0;
}
.body {
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
}
.beranda {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    box-shadow: -2px -3px 50px 10px black;
}
.pesona {
    padding-top: 20px;
    padding-bottom: 5px;
}
ul {
    display: flex;
}
li {
    display: flex;
    padding-right: 15px;
}
.background {
    margin-top: -5px;
    padding-left: 460px;
    padding-top: 250px;
}
.putih {
    color: white;
    font-family: 'Segoe UI';
    text-shadow: 5px 5px 5px black;
}
.paragraf {
    width: 371.8px;
    height: 50px;
    padding-left: 500px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: 'Segoe UI';
    font-size: 14.6px;
    text-align: center;
}
.border1 {
    width: 120px;
    height: 40px;
    margin-top: 60px;
    border-radius: 10px;
    margin-left: 600px;
    background-color: blueviolet;
    box-shadow: 0px 4px 12px 0px black;
    color: white;
    font-family: 'Segoe UI';
    border: none;
    cursor: pointer;
}
.border1:hover {
    background-color: rgb(94, 29, 155);
}
.border1:active {
    background-color: blue;
}
.berita {
    margin-top: 50px;
    font-family: 'Segoe UI';
    text-align: center;
    padding-right: 28px;
    margin-bottom: 40px;
}
.kontainer {
    display: flex;
}
.kolom1 {
    border-radius: 10px;
    box-shadow: -1px -1px 5px 1px black;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    margin-right: 30px;
    margin-left: 80px;
}
.kolom2 {
    border-radius: 10px;
    box-shadow: -1px -1px 5px 1px black;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    margin-right: 30px;
}
.kolom3 {
    border-radius: 10px;
    box-shadow: -1px -1px 5px 1px black;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    margin-right: 30px;
}
.kolom4 {
    border-radius: 10px;
    box-shadow: -1px -1px 5px 1px black;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
}
.paragraf2 {
    width: 215px;
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: justify;
}
.lokasi {
    color: blueviolet;
    font-family: 'Segoe UI';
    padding-left: 20px;
}
.imgborder {
    border-radius: 20px;
}
.border2 {
    margin-top: 20px;
    background-color: blueviolet;
    box-shadow: 2px 2px 10px 1px black;
    color: white;
    font-family: 'Segoe UI';
    font-size: 11px;
    border-radius: 5px;
    text-align: center;
    width: 130px;
    height: 40px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.border2:hover {
    background-color: rgb(94, 29, 155);
}
.border2:active {
    background-color: blue;
}
.about {
    background-color: rgb(155, 78, 226);
}
.about2 {
    color: white;
    margin-top: 60px;
    padding-top: 45px;
    padding-bottom: 40px;
    font-family: 'Segoe UI';
    text-align: center;
}
.about3 {
    color: white;
    font-family: 'Segoe UI';
    font-size: smaller;
}
.aboutimg {
    float: left;
    border-radius: 300px;
    margin-left: 50px;
    margin-right: 50px;
    filter: grayscale(1);
}
.end {
    color: white;
    font-family: 'Segoe UI';
}
.pad {
    padding-left: 20px;
}